/* DEFAULT STYLES */
* {
  box-sizing: border-box;
}

html {
  @apply leading-6;
  letter-spacing: -1px;
  font-size: 75%;
}

@media (min-width: 640px) {
  html {
    font-size: 100%;
  }
}

/* UTILITY STYLES */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TRANSITION STYLES */
.page-enter-active {
  transition: opacity 0.8s ease-in-out;
}
.page-enter {
  opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: 0.8s ease;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(100%, 0);
}

/* V-SELECT STYLES */
.v-select.quantity .vs__selected::before {
  content: "Qty: ";
  white-space: pre;
}
.v-select .vs__clear {
  display: none;
}
.v-select .vs__dropdown-toggle {
  border-color: #e2e8f0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
}

.v-select .vs__selected {
  padding: 0;
  margin: 0;
}
