backend:
  name: github
  repo: JingLi1998/99-medispa-gridsome

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "slideshow"
    label: "Slideshow"
    folder: "content/slideshow"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Subtitle", name: "subtitle", widget: "string" }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Image Alt Text", name: "altText", widget: "string" }
      - label: "Position"
        name: "position"
        widget: "number"
        valueType: "int"
        step: "1"
      - label: "Button Text"
        name: "buttonText"
        widget: "string"
        required: false
      - label: "Button To"
        name: "buttonTo"
        widget: "string"
        required: false

  - name: "backgrounds"
    label: "Backgrounds"
    folder: "content/backgrounds"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Subtitle", name: "subtitle", widget: "markdown" }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Image Alt Text", name: "altText", widget: "string" }

  - name: "treatments"
    label: "Treatments"
    folder: "content/treatments"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - label: "Type"
        name: "type"
        widget: "select"
        options:
          [
            "Laser Treatment",
            "Cosmetic Injection",
            "Skin Treatment",
            "Body Treatment",
            "Traditional Medicine",
            "Plastic Surgery",
          ]
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Image Alt Text", name: "altText", widget: "string" }

  - name: "offers"
    label: "Offers"
    folder: "content/offers"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - label: "Type"
        name: "type"
        widget: "select"
        options: ["Birthday Package", "VIP Membership"]
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Position"
        name: "position"
        widget: "number"
        valueType: "int"
        step: "1"
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Image Alt Text", name: "altText", widget: "string" }

  - name: "price"
    label: "Prices"
    folder: "content/prices"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - label: "Type"
        name: "type"
        widget: "select"
        options:
          [
            "Laser Treatment",
            "Micro Plastic Injection",
            "Skin Treatment",
            "Body Treatment",
            "Hair Removal",
            "Plastic Surgery",
          ]
      - label: "Treatments"
        name: "treatments"
        widget: "list"
        fields:
          - { label: "Name", name: "name", widget: "string" }
          - { label: "Price", name: "price", widget: "string" }
