backend:
  name: github
  repo: JingLi1998/99-medispa-gridsome

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "backgrounds"
    label: "Backgrounds"
    folder: "content/folders"
    create: true
    slut: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Subtitle", name: "subtitle", widget: "markdown" }
      - { label: "Image", name: "image", widget: "image" }

  - name: "treatments"
    label: "Treatments"
    folder: "content/treatments"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - label: "Type"
        name: "type"
        widget: "select"
        options:
          [
            "Laser Treatment",
            "Cosmetic Injection",
            "Skin Treatment",
            "Body Treatment",
            "Traditional Medicine",
            "Plastic Surgery",
          ]
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Image", name: "image", widget: "image" }

  - name: "price"
    label: "Prices"
    folder: "content/prices"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - label: "Type"
        name: "type"
        widget: "select"
        options:
          [
            "Laser Treatment",
            "Cosmetic Injection",
            "Skin Treatment",
            "Body Treatment",
            "Traditional Medicine",
            "Plastic Surgery",
          ]
      - label: "Treatments"
        name: "treatments"
        widget: "list"
        fields:
          - { label: "Name", name: "name", widget: "string" }
          - label: "Name"
            name: "name"
            widget: "number"
            valueType: "float"
